@model ASPLearn.DataLayer.Entities.User.User
@{
	ViewData["Title"] = "فعال سازی حساب کاربری";
}

<div class="container" dir="rtl">
	<div>
		<h2>فعال سازی حساب کاربری</h2>
		<p style="padding: 20px 0">جهت فعالسازی حساب خود در ASPLearn میبایست حساب خود را فعالسازی کنید. بدین منظور روی لینک زیر کلیک نمایید.</p>
		<a class="btn btn-success" href="https://localhost:7007/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
	</div>

</div>