@model ASPLearn.DataLayer.Entities.User.User
@{
	ViewData["Title"] = "بازیابی حساب کاربری";
}

<div class="container" dir="rtl">
	<div>
		<h2>بازیابی حساب کاربری</h2>
		<h2>@Model.UserName عزیز!</h2>
		<p style="padding: 20px 0">جهت بازیابی حساب کاربری خود بر روی لینک زیر کیلک نمایید.</p>
		<a class="btn btn-success" href="https://localhost:7007/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
	</div>

</div>