@page
@using ASPLearn.DataLayer.Entities.User
@model ASPLearn.Web.Pages.Admin.Users.CreateUserModel
@{
	ViewData["Title"] = "افزودن کاربر";
	List<Role> roles = ViewData["Roles"] as List<Role>;
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">افزودن کاربر جدید</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<form method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						اطلاعات کاربر
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="form-group">
							<label>نام کاربری</label>
							<input type="text" asp-for="CreateUserViewModel.UserName" class="form-control">
							<p class="help-block">در این کادر نام کاربری را وارد نمایید.</p>
						</div>
						<span class="text-danger" asp-validation-for="CreateUserViewModel.UserName"></span>
						<div class="form-group">
							<label>ایمیل</label>
							<input type="email" asp-for="CreateUserViewModel.Email" class="form-control">
							<p class="help-block">در این کادر ایمیل را وارد نمایید.</p>
						</div>
						<span class="text-danger" asp-validation-for="CreateUserViewModel.Email"></span>
						<div class="form-group">
							<label>کلمه عبور</label>
							<input type="text" asp-for="CreateUserViewModel.Password" class="form-control">
							<p class="help-block">در این کادر رمز عبور را وارد نمایید.</p>
						</div>
						<span class="text-danger" asp-validation-for="CreateUserViewModel.Password"></span>
					</div>
					<!-- /.panel-body -->
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						ذخیره اطلاعات
					</div>
					<div class="panel-body">
						<div class="form-group">
							<input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						تصویر پروفایل
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<img id="imgAvatar" class="thumbnail" src="/UserAvatar/UserAvatarPic.png" />
						<div class="form-group">
							<label>انتخاب تصویر</label>
							<input type="file" asp-for="CreateUserViewModel.UserAvatar">
						</div>
					</div>

					<!-- /.panel-body -->
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						نقش های کاربر
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="form-group">
							<label>انتخاب نقش ها</label>
							@if (roles != null)
								@foreach (var item in roles)
								{
									<div class="checkbox">
										<label>
											<input type="checkbox" name="SelectedRoles" value="@item.RoleId">@item.RoleTitle
										</label>
									</div>
								}

						</div>
					</div>
					<!-- /.panel-body -->
				</div>
			</div>
		</div>
		<div class="row">
		</div>

	</form>
</div>

@section Scripts {
	<script>
			CreateUserViewModel_UserAvatar.onchange = evt => {
			const [file] = CreateUserViewModel_UserAvatar.files
			if (file) {
				imgAvatar.src = URL.createObjectURL(file)
			}
		}
	</script>
}